// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

INFOPLIST_KEY_NSHealthShareUsageDescription = We need access to your health data to calculate your recovery score and provide personalized workout recommendations.
INFOPLIST_KEY_NSHealthUpdateUsageDescription = We need permission to save workout data to your Health app.
