<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RecoveryApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AF554102ED20D6C0039D326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AF5541F2ED20D6E0039D326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AF554292ED20D6E0039D326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
